body {
    background-image: url('https://wallpapercave.com/wp/wp10488763.png');
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen se quede fija al hacer scroll */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
}
